.upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    gap: 2rem;

    @media (max-width: 555px) {
        padding: 1rem;
    }

    &_top,
    &_bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h2 {
            font-size: calc(140/var(--gfs)*1rem);
            font-weight: 500;
            color: var(--container-color);
            letter-spacing: 0.16rem;
            text-transform: uppercase;
            line-height: 0.8;
            @media (max-width: 1256px) {
                font-size: calc(40/var(--gfs)*1rem);
            }
        }


        &_left {
            display: flex;
            align-items: flex-start;

            span {
                font-size: calc(40/var(--gfs)*1rem);

                @media (max-width: 480px) {
                    font-size: calc(24/var(--gfs)*1rem);
                }
            }
        }
    }

    &_bottom {
        p {
            font-size: calc(50/var(--gfs)*1rem);
            font-weight: 300;
            color: var(--container-color);
            letter-spacing: -0.05rem;
            text-transform: uppercase;
            @media (max-width: 1256px) {
                font-size: calc(25/var(--gfs)*1rem);
                margin: 1rem 0;
            }
        }
    }

}