.textMask {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9;
    margin: 20vh 0;

    @media (max-width: 555px) {
        margin: 5vh 0;
    }

    .video {
        position: fixed;
        left: 0;
        width: 100%;
        top: -10vh;
        height: 120vh;
        z-index: 1;

        @media (max-width: 555px) {
            height: 80vh;
            top: 0;
        }



        &_cont {
            position: relative;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .absText {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        top: 1rem;
        left: 1rem;
        mix-blend-mode: difference;
        width: 100%;
        z-index: 6;

        a {
            font-size: clamp(10px, 7.2vw, 160px);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            text-align: left;
            position: relative;
            width: fit-content;

            @media (max-width: 456px) {
                font-size: 2rem;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.5px;
                background-color: #fff;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
                transform: scaleX(0);
                transform-origin: left;
            }

            &:hover::before {
                transform: scaleX(1);
                animation: hoverLine 0.45s forwards;
            }

            &:not(:hover)::before {
                animation: unhoverLine 0.45s forwards;
            }
        }
    }

}

.upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    gap: 2rem;
    position: relative;
    z-index: 99;
    mix-blend-mode: difference;

    @media (max-width: 555px) {
        padding: 1rem;
    }

    &_top {
        display: flex;
        width: 100%;
        justify-content: space-between;

        p {
            font-weight: 300;
            color: #fff;
            letter-spacing: 0.16rem;
            text-transform: uppercase;
            line-height: 0.8;
        }


    }


}


@keyframes hoverLine {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes unhoverLine {
    from {
        transform: scaleX(1);
        transform-origin: right;
    }

    to {
        transform: scaleX(0);
        transform-origin: right;
    }
}