.textMask {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9;
    margin: 20vh 0;

    .video {
        position: fixed;
        left: 0;
        width: 100%;
        top: -10vh;
        height: 120vh;
        z-index: 1;

        &_cont {
            position: relative;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media (max-width: 456px) {
                    position: relative;
                }
            }
        }
    }


    .absText {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        top: 1rem;
        left: 1rem;
        mix-blend-mode: difference;
        width: 100%;
        z-index: 6;

        h3 {
            font-size: 3rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            width: 100%;
            text-align: left;

            @media (max-width: 456px) {
                font-size: 2rem;
            }
        }
    }

}

.upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    gap: 2rem;
    position: relative;
    z-index: 99;
    mix-blend-mode: difference;

    @media (max-width: 555px) {
        padding: 1rem;
    }

    &_top {
        display: flex;
        width: 100%;
        justify-content: space-between;

        p {
            font-weight: 300;
            color: #fff;
            letter-spacing: 0.16rem;
            text-transform: uppercase;
            line-height: 0.8;
        }


    }


}