.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin-top: 10rem;
    position: relative;
    z-index: 1;

    @media (max-width: 756px) {
        margin-top: 5rem;
        height: 100%;
    }


    .about__title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        left: 0;
        top: 0rem;
        width: 100%;
        height: 100%;
        padding: 0 2rem;


        h1 {
            font-size: 10vh;
            font-family: 'Outfit-Black';
            color: var(--container-color);
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            text-align: left;
            overflow: hidden;

            @media (max-width: 1256px) {
                font-size: 5.2vh;
            }

            @media (max-width: 756px) {
                font-size: 5.2vh;
            }

            @media (max-width: 456px) {
                font-size: 3.2vh;
            }
        }
    }

    p {
        font-size: 2rem;
        color: var(--accent-color-second);
    }

    .aboutTop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        margin-bottom: 10rem;
        height: 100%;
        gap: 5rem;
        position: relative;

        @media (max-width: 756px) {
            height: 100%;
        }

        overflow: hidden;

        h3 {
            font-size: 1.5vh;
            padding-right: 6rem;
            font-family: 'Outfit-Regular';
            color: var(--container-color);
            letter-spacing: 0.26rem;
            text-transform: uppercase;
            text-align: left;
            padding-left: 2rem;
            width: 50%;

            @media (max-width: 1256px) {
                font-family: 'Outfit-Thin';
                text-transform: capitalize;
                font-size: 2vh;
                letter-spacing: 0.1rem;
                width: 100%;
                margin-top: 4rem;
            }

            @media (max-width: 756px) {
                font-size: 2vh;
            }

            @media (max-width: 456px) {
                padding-right: 1rem;
                font-size: 1rem;
                letter-spacing: 0rem;
            }
        }

        .aboutTop__container {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;

            @media (max-width: 1056px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }

            h2 {
                font-size: 1.5vh;
                width: 100%;
                font-family: 'Outfit-Regular';
                color: var(--container-color);
                letter-spacing: 0.26rem;
                text-transform: uppercase;
                text-align: left;
                padding-left: 2rem;

                @media (max-width: 1256px) {
                    font-size: 2vh;
                    letter-spacing: 0.1rem;
                    font-family: 'Outfit-Thin';
                }

                @media (max-width: 756px) {
                    letter-spacing: 0rem;
                }

                @media (max-width: 456px) {
                    font-size: 0.9rem;
                    letter-spacing: 0.1rem;
                }
            }
        }

        img {
            padding: 4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}