.services__container_lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    border-top: 1px solid var(--container-color);


    .services__container {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        height: 100%;
        width: 100%;
        min-height: 70vh;
        border-bottom: 0.3px solid var(--container-color);

        @media (max-width: 1278px) {
            display: flex;
            flex-direction: column;

        }

        .seco__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            gap: 1rem;
            padding: 1rem;

            h2 {
                font-size: 2.5rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                color: var(--container-color);
                font-weight: 700;
                padding-top: 1rem;

                &:first-child {
                    padding-top: 0;
                }

            }

            p {
                font-size: 1.3rem;
                text-align: center;
                margin-bottom: 0;
                text-transform: lowercase;
                font-weight: 300;
                color: var(--container-color);
                width: 60%;
                text-align: left;
                font-weight: 300;

                @media (max-width: 1278px) {
                    width: 100%;
                }

                @media (max-width: 478px) {
                    font-size: 1rem;
                    letter-spacing: normal;
                    width: 85%;
                }
            }

            .navigationService {
                h4 {
                    cursor: pointer;
                    border: 1px solid var(--title-color);
                    padding: 0.5rem;
                    border-radius: 4px;
                    font-weight: 400;
                    color: var(--container-color);
                    transition: var(--animation-primary);

                    &:hover {
                        background-color: var(--container-color);
                        transition: var(--animation-primary);
                        color: var(--background-color);
                    }
                }

            }
        }

        .seco__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            position: relative;
            padding: 1rem;
            border-left: 1px solid var(--container-color);

            @media (max-width: 1278px) {
                border-left: none;
            }

            @media (max-width: 478px) {
                padding: 0.5rem 0;
            }

            .seco__righ_img {
                min-height: 55vh;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                position: relative;
                transition: var(--animation-primary);

                @media (max-width: 456px) {
                    min-height: 40vh;
                }

                video {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: contain;
                    transition: var(--animation-primary);
                }
            }

            .secori__lower {
                gap: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: 100%;
                width: 100%;

                h2 {
                    font-size: 2rem;
                    text-align: center;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: var(--container-color);
                    background-color: var(--background-color);
                    letter-spacing: 0.1rem;
                    text-align: left;
                }

                .secorilo__spans {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    gap: 1rem;

                    div {
                        margin-top: 1rem;
                    }

                    span {
                        margin-top: 1rem;
                        font-size: 1rem;
                        text-align: center;
                        margin-bottom: 0;
                        text-transform: capitalize;
                        font-weight: 300;
                        color: var(--container-color);
                        letter-spacing: normal;
                        text-align: left;

                        @media (max-width: 478px) {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}