.servicesSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 5vh;
    position: relative;
    z-index: 9;


    .services__container_upper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1278px) {
            grid-template-columns: 1fr;
        }

        p,
        h2 {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--container-color);
            letter-spacing: 0rem;
            text-transform: lowercase;
            margin-bottom: 1rem;
            padding-left: 2rem;
            line-height: 1.15;
            width: 90%;
            text-align: left;

            @media (max-width: 456px) {
                font-size: 0.8rem;
                width: 95%;
                text-align: left;
                line-height: 1.15;
                padding-left: 1rem;
            }

            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }

    .servicesMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 5rem;
        position: relative;
        z-index: 9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: relative;
            z-index: 9;
        }
    }

    .services__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 2rem;

        @media (max-width: 978px) {
            padding: 0.5rem;
        }




    }
}

.seboco__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-top: 1rem;


    .services__bottom_container_right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        gap: 1rem;

        @media (max-width: 578px) {
            grid-template-columns: 1fr 1fr;
        }

        h2 {
            font-size: 2rem;
            font-weight: 500;
            text-align: left;
            margin-bottom: 0;
            text-transform: uppercase;
            color: var(--container-color);
            background-color: var(--background-color);

            @media (max-width: 978px) {
                font-size: 4vh;
            }
        }

        p {
            font-size: 1.1rem;
            font-weight: 300;
            text-align: left;
            margin-bottom: 0;
            text-transform: lowercase;
            color: var(--container-color);
            letter-spacing: 0.05rem;
        }
    }
}

.seboco__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 1rem;

    h3 {
        font-size: 4vw;
        font-weight: 400;
        line-height: 1;
        color: var(--title-color);
        letter-spacing: 0.05rem;
        text-transform: uppercase;

        @media (max-width: 978px) {
            font-size: 4vh;
        }
    }

    p {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        color: var(--title-color);
        width: 70%;

        @media (max-width: 978px) {
            font-size: 0.9rem;
            letter-spacing: normal;
        }
    }

    a {
        background-color: var(--background-color);
        padding: 1rem;
        border: 1px solid var(--container-color);
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

        h4 {
            font-weight: 400;
            letter-spacing: 0.1rem;
            color: var(--container-color);
        }

        &:hover {
            background-color: var(--container-color);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

            h3 {
                color: var(--background-color);
            }
        }
    }
}