.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-bottom: 10rem;
    margin-top: 10rem;
    position: relative;
    z-index: 1;
    @media (max-width: 450px) {
        width: 100%;
        height: 100%;
        margin-top: 4rem;
    }

    .contact__title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        h2 {
            font-size: 10vh;
            font-family: 'Outfit-Black';
            color: var(--container-color);
            letter-spacing: 0.5rem;
            text-transform: uppercase;

            @media (max-width: 956px) {
                font-size: 8vw;
                padding-bottom: 4rem;
                padding-left: 2rem;
            }

            @media (max-width: 456px) {
                padding-bottom: 4rem;
                padding-left: 1rem;
            }

            @media (max-width: 306px) {
                padding-bottom: 4rem;
                padding-left: 1rem;
            }
        }
    }

    p {
        width: 80%;
        font-size: 5vw;
        font-weight: 400;
        ;
        color: var(--container-color);
        font-family: 'Outfit-Medium';
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-align: left;

        @media (max-width: 956px) {
            font-size: 4vw;
            width: 100%;
        }
    }

    .contact__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
        height: 100%;

        .contact__top {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 4rem;

            p {
                font-size: 1rem;
                font-weight: 400;
                font-family: 'Outfit-Light', sans-serif;
                color: var(--container-color);
                letter-spacing: 0rem;
                text-transform: lowercase;
                margin-bottom: 1rem;
                padding-left: 2rem;
                line-height: 1.15;
                width: 100%;
                text-align: left;

                @media (max-width: 456px) {
                    font-size: 1.2rem;
                    padding-left: 0;
                    margin-bottom: 0;
                }

                @media (max-width: 306px) {
                    font-size: 1rem;
                }
            }
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            width: 100%;
            height: 100%;

            @media (max-width: 1256px) {
                grid-template-columns: 1fr;
                gap: 3rem;
            }

            .coco__left {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                flex-direction: column;
                gap: 2rem;


                .contact__lower {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    width: 100%;
                    height: 100%;

                    .contact__lower_form {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;
                        width: 100%;
                        height: 100%;

                        .conlo__container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;
                            width: 100%;
                            height: 100%;

                            .conlocon__input {
                                display: flex;
                                gap: 0rem;
                                align-items: flex-start;
                                justify-content: flex-start;
                                align-self: flex-start;
                                align-content: start;
                                width: 100%;
                                height: 100%;

                                @media (max-width: 456px) {
                                    flex-direction: column;
                                    gap: 1rem;
                                    margin-bottom: 2rem;
                                }

                                p {
                                    width: 80%;

                                    @media (max-width: 456px) {
                                        width: 100%;

                                    }
                                }

                                input {
                                    width: 100%;
                                    height: 100%;
                                    padding: 1rem;
                                    border: none;
                                    border-bottom: 0.3px solid var(--container-color);
                                    background-color: var(--background-color);
                                    color: var(--container-color);
                                    font-family: 'Outfit-Thin';
                                    font-size: 1.5rem;
                                    letter-spacing: 0.2rem;
                                    text-transform: uppercase;
                                    outline: none;

                                    @media (max-width: 956px) {
                                        font-size: 1rem;
                                    }

                                    @media (max-width: 456px) {
                                        padding-left: 0;
                                    }

                                    @media (max-width: 306px) {
                                        font-size: 0.85rem;
                                    }

                                    &::placeholder {
                                        color: var(--container-color);
                                        font-family: 'Outfit-Thin';
                                        font-size: 1.5rem;
                                        font-weight: 400;
                                        letter-spacing: 0.2rem;
                                        text-transform: uppercase;

                                        @media (max-width: 1256px) {
                                            font-size: 1.3rem;
                                            letter-spacing: 0.05rem;
                                        }

                                        @media (max-width: 456px) {
                                            font-size: 1rem;
                                            letter-spacing: normal;
                                        }
                                    }

                                    &:focus {
                                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                                        border-bottom: 0.3px solid var(--accent-color);
                                    }
                                }

                                textarea {
                                    width: 100%;
                                    height: 100%;
                                    padding: 1rem;
                                    border: none;
                                    border-bottom: 0.3px solid var(--container-color);
                                    background-color: var(--background-color);
                                    color: var(--container-color);
                                    font-family: 'Outfit-Thin';
                                    font-size: 1.5rem;
                                    letter-spacing: 0.2rem;
                                    text-transform: uppercase;
                                    outline: none;

                                    &::placeholder {
                                        color: var(--container-color);
                                        font-family: 'Outfit-Thin';
                                        font-size: 1.5rem;
                                        font-weight: 400;
                                        letter-spacing: 0.2rem;
                                        align-items: center;
                                        align-self: center;
                                        text-transform: uppercase;

                                        @media (max-width: 1256px) {
                                            font-size: 1.3rem;
                                            letter-spacing: 0.05rem;
                                        }

                                        @media (max-width: 456px) {
                                            font-size: 1rem;
                                            letter-spacing: normal;
                                        }

                                    }

                                    &:focus {
                                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                                        border-bottom: 0.3px solid var(--accent-color);
                                    }

                                    @media (max-width: 456px) {
                                        font-size: 1.2rem;
                                        padding-left: 0;

                                    }

                                    @media (max-width: 306px) {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .coco__right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: 100%;

                @media (min-width: 1200px) {
                    padding-top: 5rem;
                }

                .cocori__container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 2rem;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 1256px) {
                        align-items: flex-start;
                        justify-content: flex-start;
                    }

                    .cocori__options {
                        display: flex;
                        gap: 1rem;
                        width: 100%;
                        height: 100%;
                        align-items: flex-start;
                        justify-content: flex-start;

                        @media (max-width: 1256px) {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);

                        }

                        @media (max-width: 456px) {
                            display: grid;
                            grid-template-columns: 1fr 1fr;

                        }

                        p {
                            width: 100%;
                        }

                        .cocori__option {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;

                            @media (max-width: 956px) {
                                align-items: flex-start;
                                justify-content: flex-start;
                            }

                            input {
                                display: none;
                            }

                            span {
                                display: flex;
                                place-items: center;
                                align-items: flex-end;
                                justify-content: flex-start;
                                width: 100%;
                                height: 100%;
                                padding: 1rem;
                                flex-wrap: wrap;
                                border: 1px solid var(--container-color);
                                background-color: var(--background-color);
                                color: var(--container-color);
                                font-family: 'Outfit-Regular';
                                font-size: 1.5rem;
                                font-weight: 400;
                                letter-spacing: 0.2rem;
                                text-transform: uppercase;
                                transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                                cursor: pointer;

                                @media (max-width: 1056px) {
                                    align-items: flex-end;
                                    font-size: 1rem;
                                }


                                &:hover {
                                    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                                    background-color: var(--accent-color);
                                    border: var(--accent-color) 1px solid;
                                    color: var(--background-color);
                                }

                                @media (max-width: 956px) {
                                    font-size: 1rem;
                                    width: 100%;
                                    align-items: flex-start;
                                    width: 95%;
                                }

                                @media (max-width: 306px) {
                                    font-size: 0.9rem;
                                    letter-spacing: normal;
                                    padding: 1rem;
                                }
                            }

                            &.checked {
                                transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

                                span {
                                    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                                    background-color: var(--accent-color);
                                    color: var(--background-color);
                                    border: var(--accent-color) 1px solid;
                                }
                            }
                        }
                    }

                }

            }

            .form__button {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                position: relative;
                bottom: -5rem;

                button {
                    padding: 1rem;
                    border: 1px solid var(--container-color);
                    background-color: var(--background-color);
                    color: var(--container-color);
                    font-family: 'Outfit-Regular';
                    font-size: 1.5rem;
                    font-weight: 400;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                    cursor: pointer;

                    &:hover {
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        background-color: var(--accent-color);
                        border: var(--accent-color) 1px solid;
                        color: var(--background-color);
                    }

                    @media (max-width: 956px) {
                        width: 100%;
                        height: 100%;
                        font-size: 1.3rem;
                    }

                    @media (max-width: 456px) {
                        width: 100%;
                        height: 100%;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}