.projectsPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 7rem;

    @media (max-width: 956px) {
        padding-top: 3rem;
    }


    h2 {
        line-height: 0.4;
        font-weight: 800;
        font-size: clamp(2.5rem, 5.2vw, 160px);
        padding: 1rem 0;
    }

    .projectsPage__heading {
        display: flex;
        overflow: hidden;
        width: 100%;
        padding-left: 2rem;
        padding-bottom: 2rem;

        @media (max-width: 956px) {
            padding-left: 1rem;
        }
    }

    .projectsPage_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        gap: 1rem;

        @media (max-width: 1106px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

        }
    }

    .projectPage__categories {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;

        @media (max-width: 1100px) {
            top: -2rem;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        @media (max-width: 456px) {
            position: relative;
            top: 0rem;
            z-index: 999999;
        }

        .proectPage__categories_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;

            h3 {
                position: relative;
                font-size: 1rem;
                user-select: none;
                cursor: pointer;
                width: 100%;
                font-weight: 400;
                color: var(--container-color);
                text-transform: lowercase;
                background-color: transparent;
                padding: 1rem;
                padding-top: 0;
                transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                @media (max-width: 1100px) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    right: 1rem;
        
                }
            }
        }

        .projectPage__categories__menu__container__content {
            position: absolute;
            left: 0rem;
            background-color: var(--title-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            top: 6rem;
            height: fit-content;
            z-index: 99999;
            transition: var(--animation-primary);
            padding: 1rem 0;

            h3 {
                font-size: 1rem;
                font-weight: 400;
                color: var(--background-color);
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                margin: 0px;
                text-align: left;
                user-select: none;
                cursor: pointer;
                transition: var(--animation-primary);

                &:hover {
                    color: var(--accent-color);
                }
            }

            span {
                user-select: none;
                position: relative;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }

    .projectPage__viewSelect {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        position: relative;
        right: 4rem;
        top: -1rem;

        @media (max-width: 1100px) {
            justify-content: flex-start;
            align-items: flex-start;
            left: 1rem;

        }

        .pv__container {
            border: 1px solid var(--container-color);
            display: flex;
            justify-content: center;
            align-content: center;
            height: 100%;

            button {
                border: none;
                background-color: transparent;
                padding: 1rem;
                font-size: 1rem;
                font-weight: 300;
                color: var(--container-color);
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

                &:hover {
                    color: var(--accent-color);
                }

                @media (max-width: 1222px) {
                    padding: 0.5rem;
                }


            }

            .activeButton {
                background-color: var(--background-color);
            }
        }
    }

    .projectsPage__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        position: relative;

        .projectsPageCo__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            height: 100%;
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            min-height: max-content;

            @media (max-width: 1256px) {
                grid-template-columns: 1fr;
            }

            .projectsPageCo__items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                position: relative;
                height: 100%;
                border-right: 1px solid var(--container-color);
                border-bottom: 1px solid var(--container-color);

                @media (max-width: 456px) {
                    border-right: none;
                }

                &:first-child {
                    border-top: 1px solid var(--container-color);
                }

                &:nth-child(2) {
                    border-top: 1px solid var(--container-color);
                }

                &:nth-child(even) {
                    border-right: none;
                }

                .projectsPageCo__item {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    position: relative;
                    height: 100%;
                    cursor: pointer;

                    @media (max-width: 456px) {
                        padding: 1rem 0.5rem;
                    }

                    .projectsPageCo__item__img {
                        min-height: 70vh;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

                        @media (max-width: 456px) {
                            min-height: 40vh;
                        }

                        img {
                            height: 100%;
                            position: relative;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        }

                        video {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: contain;
                            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        }
                    }

                    .projectsPageCo__item__desc {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        position: relative;
                        opacity: 1;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        padding-top: 2rem;

                        p {
                            font-size: 1rem;
                            font-weight: 400;
                            color: var(--container-color);
                            text-transform: uppercase;

                            @media (max-width: 456px) {
                                font-size: 0.8rem;
                            }
                        }

                        h3 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            color: var(--container-color);
                            letter-spacing: 0.05rem;
                            margin: 0px;
                            margin-top: 1rem;
                            text-transform: uppercase;
                        }

                        .projects__item_desc-combined {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            @media (max-width: 456px) {
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }

    }

}





.open {
    max-height: 100%;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}