.projectsPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    
    h2 {
        font-size: 10vh;
        margin: 0px;
        margin-bottom: 2vw;
        font-family: 'Outfit-Bold';
        color: var(--container-color);
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        text-transform: uppercase;
        padding-left: 2rem;
        padding-bottom: 1rem;
        @media (max-width: 456px) {
            font-size: 5vh;
        }
    }


    .projectsPage__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        position: relative;
        .projectsPageCo__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            height: 100%;
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

            @media (max-width: 1256px) {
                grid-template-columns: 1fr;
            }

            .projectsPageCo__items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                position: relative;
                height: 100%;
                border-right: 1px solid var(--container-color);
                border-bottom: 1px solid var(--container-color);
                @media (max-width: 456px) {
                    border-right: none;
                }
                &:last-child {
                    border-bottom: none;
                }

                &:first-child {
                    border-top: 1px solid var(--container-color);
                }

                &:nth-child(2) {
                    border-top: 1px solid var(--container-color);
                }

                &:nth-child(even) {
                    border-right: none;
                }

                .projectsPageCo__item {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    position: relative;
                    height: 100%;

                    .projectsPageCo__item__img {
                        min-height: 70vh;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        @media (max-width: 456px) {
                            min-height: 40vh;
                        }
                        video {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: contain;
                            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        }
                    }

                    .projectsPageCo__item__desc {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        opacity: 1;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                        padding-top: 2rem;

                        p {
                            font-size: 1rem;
                            font-family: 'Outfit-Regular';
                            color: var(--container-color);
                            letter-spacing: 0.2rem;
                            text-transform: uppercase;
                            @media (max-width: 456px) {
                                font-size: 0.8rem;
                                letter-spacing: 0.05rem;
                            }
                        }

                        h3 {
                            font-size: 1.5rem;
                            font-family: 'Outfit-Regular';
                            color: var(--container-color);
                            letter-spacing: 0.2rem;
                            margin: 0px;
                            margin-top: 1rem;
                            text-transform: uppercase;
                        }

                        .projects__item_desc-combined {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            @media (max-width: 456px) {
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }

    }

    .projectsPageCo__details {
        position: relative;
        top: 0rem;
        left: 0;
        width: 100%;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        background-color: var(--background-color);
        height: 100%;
        z-index: 5;
        padding: 2rem;
        border-top: 1px solid var(--container-color);
        .projectsPageCo__details__container__close {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            top: -1rem;
            right: 0;
            padding: 2rem;
            cursor: pointer;
            z-index: 9999;
            @media (max-width: 456px) {
                height: 100%;
                justify-content: space-between;
                left: -2rem;
                padding: 0;
                align-items: flex-start;
            }
            h3 {
                font-size: 2rem;
                font-family: 'Outfit-Bold';
                color: var(--container-color);
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                margin: 0px;
                margin-bottom: 1rem;
                @media (max-width: 456px) {
                    font-size: 0.8rem;
                    letter-spacing: normal;
                }
            }

            span {
                font-size: 2rem;
                font-family: 'Outfit-Bold';
                color: var(--container-color);
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                @media (max-width: 456px) {
                    font-size: 0.8rem;
                    letter-spacing: normal;
                }
            }
        }

        .projectsPageCo__deCo {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            gap: 2rem;
            .projectsPageCo__details__container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                position: relative;
                gap: 2rem;
                .projectsPageCo__details__container__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    .projectsPageCo__details__container__item__img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        position: relative;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

                        img {
                            height: 50%;
                            width: 50%;
                            position: relative;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                            @media (max-width: 1356px) {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .projectsPageCo__details__container__item__video {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        position: relative;
                        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

                        video {
                            height: 50%;
                            width: 50%;
                            position: relative;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
                            @media (max-width: 1356px) {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}