$container-color: var(--container-color);
$background-color: var(--background-color);
$font-large: 2rem;
$font-medium: 1.5rem;
$font-small: 1.3rem;
$padding: 1rem;
$transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

.aboutServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    width: 100%;
    margin-top: 4rem;
    border-top: 1px solid $container-color;

    @media (max-width: 1380px) {
        margin-top: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        width: 100%;

        @media (max-width: 780px) {
            flex-direction: column-reverse;
            gap: 0;
        }

        &__right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            @media (max-width: 1280px) {
                width: 100%;
            }

            &_content {
                width: 90%;
                display: flex;
                flex-direction: column;

                @media (max-width: 1280px) {
                    width: 95%;
                }

                &_section {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    border-bottom: 1px solid $container-color;
                    padding: 1rem 0;
                    transition: $transition;

                    &:last-child {
                        border-bottom: none;
                    }

                    span {
                        font-size: $font-large;
                        font-weight: 200;
                        color: $container-color;
                        text-align: right;
                        text-transform: lowercase;

                        @media (max-width: 780px) {
                            text-align: left;
                            font-size: $font-medium;
                        }
                    }

                    .aboutServices__details_container {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        h3 {
                            font-size: $font-large;
                            font-weight: 300;
                            color: $container-color;

                            @media (max-width: 780px) {
                                font-size: $font-medium;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }

        &__left {
            width: 50%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: sticky;
            top: 2rem;
            padding: $padding;
            border-right: 1px solid $container-color;

            @media (max-width: 1300px) {
                display: none;
            }

            &_container {
                width: 100%;
                height: 3vw;
                position: relative;
                overflow: hidden;

                @media (max-width: 1280px) {
                    height: 5vh;
                }

                &_details {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: $transition;

                    h2 {
                        font-size: $font-large;
                        font-weight: 350;
                        color: $container-color;
                        background-color: $background-color;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
            }

            p {
                font-size: $font-small;
                font-weight: 300;
                color: $container-color;
                width: 80%;
                text-align: left;
                line-height: 1;
            }
        }
    }
}
