.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 1rem;
    justify-content: flex-end;

    ul {
        width: 50%;
        margin-top: 10px;
        list-style-type: none;
        padding: 0;

        @media (max-width: 456px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 0.9rem;


        }
    }

    li {
        color: var(--container-color);
        border-bottom: 1px solid var(--title-color);
        display: flex;
        justify-content: space-between;
        width: 70%;
        align-items: center;

        a {
            color: var(--container-color);
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            overflow: hidden;
            padding: 0.5rem 0;
            &:hover {
                color: var(--accent-color);
            }
        }
    }
}