.nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--background-color);
    top: 5vh;
    left: 0;
    mix-blend-mode: normal;


    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

