/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/titles/style.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_titles__oTe9G {
  width: 100%;
  border-top: 1px solid rgba(183, 171, 152, 0.25);
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.style_titles__oTe9G .style_title__Saodr {
  border-bottom: 1px solid rgba(183, 171, 152, 0.25);
  position: relative;
  z-index: 2;
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa {
  display: flex;
  padding-left: 7.35%;
  width: 100%;
  justify-content: space-between;
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p {
  display: inline-block;
  color: var(--container-color);
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  margin: 0px 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 956px) {
  .style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p {
    margin: 0.6rem 0;
  }
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p:nth-of-type(2) {
  display: block;
  position: absolute;
  color: #1c1c1c;
  top: 0;
  z-index: 1;
}
.style_titles__oTe9G .style_title__Saodr span {
  font-size: 0.9vw;
  display: inline-block;
  color: var(--container-color);
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  font-weight: 700;
  line-height: 7.5vw;
  margin: 0px;
  position: relative;
  letter-spacing: 0.1rem;
  z-index: 2;
  padding-right: 2rem;
}
@media (max-width: 1156px) {
  .style_titles__oTe9G .style_title__Saodr span {
    font-family: "Outfit-Regular", sans-serif;
    font-weight: 500;
    padding-right: 0.3rem;
    font-size: 0.75rem;
    letter-spacing: normal;
    line-height: 1;
    top: 1.5rem;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/descriptions/style.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_descriptions__H19Io {
  position: absolute;
  top: 0.1875rem;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.style_descriptions__H19Io .style_description__K6IDM {
  background-color: var(--accent-color-second);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.35%;
  padding-right: 3%;
  -webkit-clip-path: inset(50% 0 50%);
          clip-path: inset(50% 0 50%);
  width: 100%;
  transition: -webkit-clip-path 0.4s;
  transition: clip-path 0.4s;
  transition: clip-path 0.4s, -webkit-clip-path 0.4s;
}
.style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(1) {
  color: var(--background-color);
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  margin: 0px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1256px) {
  .style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(1) {
    margin: 0.6rem 0;
  }
}
.style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(2) {
  font-family: "Outfit-Light", sans-serif;
  width: 30%;
  font-size: 1vw;
  font-weight: 700;
}
@media (max-width: 956px) {
  .style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(2) {
    display: none;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/Projects3D.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Projects3D_projects3D__1OZNu {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.Projects3D_projects3D__1OZNu h2 {
  position: absolute;
  font-size: 1vw;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  color: var(--accent-color-second);
  letter-spacing: 0.2rem;
  padding-left: 8%;
  top: -4rem;
}
@media (max-width: 456px) {
  .Projects3D_projects3D__1OZNu h2 {
    font-size: 5vw;
    margin-bottom: 4rem;
  }
}
