/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/titles/style.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_titles__oTe9G {
  width: 100%;
  border-top: 1px solid rgba(183, 171, 152, 0.25);
  display: flex;
  flex-direction: column;
}
.style_titles__oTe9G .style_title__Saodr {
  border-bottom: 1px solid rgba(183, 171, 152, 0.25);
  cursor: default;
  position: relative;
  z-index: 2;
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa {
  display: flex;
  padding-left: 7.35%;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1256px) {
  .style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa {
    padding-left: 1rem;
  }
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p {
  display: inline-block;
  color: var(--container-color);
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  font-weight: 700;
  font-size: 8.5vw;
  line-height: 7.5vw;
  margin: 0px 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 1256px) {
  .style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p {
    margin: 1rem 0;
  }
}
.style_titles__oTe9G .style_title__Saodr .style_wrapper__taWEa p:nth-of-type(2) {
  display: block;
  position: absolute;
  color: var(--border-color);
  top: 0;
  z-index: 1;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/descriptions/style.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_descriptions__H19Io {
  position: absolute;
  top: 0.1875rem;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.style_descriptions__H19Io .style_description__K6IDM {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.35%;
  padding-right: 3%;
  -webkit-clip-path: inset(50% 0 50%);
          clip-path: inset(50% 0 50%);
  width: 100%;
  transition: -webkit-clip-path 0.4s;
  transition: clip-path 0.4s;
  transition: clip-path 0.4s, -webkit-clip-path 0.4s;
}
.style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(1) {
  color: var(--background-color);
  text-transform: uppercase;
  font-family: "Outfit-Bold", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  margin: 0px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1256px) {
  .style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(1) {
    margin: 0.6rem 0;
  }
}
.style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(2) {
  font-family: "Outfit-Light", sans-serif;
  width: 30%;
  font-size: 1vw;
  font-weight: 700;
}
@media (max-width: 956px) {
  .style_descriptions__H19Io .style_description__K6IDM p:nth-of-type(2) {
    display: none;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Projects3D/Projects3DComponents/style.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_projects3D__Na9mC {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.style_projects3D__Na9mC h2 {
  position: absolute;
  font-size: 1vw;
  text-align: left;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Outfit-Medium", sans-serif;
  color: var(--accent-color);
  letter-spacing: 0;
  padding-left: 8%;
  top: -4rem;
}
@media (max-width: 1356px) {
  .style_projects3D__Na9mC h2 {
    position: relative;
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
    top: -1rem;
  }
}
