/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Body/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_body__A0_vQ {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 2rem;
}
@media (max-width: 456px) {
  .style_body__A0_vQ {
    flex-direction: column;
  }
}
.style_body__A0_vQ a {
  color: var(--nav-overlay-color);
  text-decoration: none;
  text-transform: uppercase;
}
.style_body__A0_vQ p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  padding-right: 30px;
  padding-top: 10px;
  font-family: "Outfit-Regular", sans-serif;
}
@media (max-width: 456px) {
  .style_body__A0_vQ p {
    font-size: 3vh;
  }
}

@media only screen and (min-width: 600px) {
  .style_body__A0_vQ {
    max-width: 1200px;
    margin-top: 80px;
  }
  .style_body__A0_vQ p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Footer/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__D5CRU {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 1rem;
}
@media (max-width: 456px) {
  .style_footer__D5CRU {
    flex-direction: column;
  }
}
.style_footer__D5CRU ul {
  width: 50%;
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  font-family: "Outfit-Regular", sans-serif;
}
@media (max-width: 456px) {
  .style_footer__D5CRU ul {
    width: 100%;
  }
}
.style_footer__D5CRU li {
  color: var(--background-color);
}
.style_footer__D5CRU li span {
  padding-left: 0.4rem;
  color: var(--background-color);
  font-family: "Outfit-Regular", sans-serif;
}
.style_footer__D5CRU li a {
  color: var(--background-color);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.style_footer__D5CRU li a:hover {
  color: var(--background-color);
}

@media only screen and (min-width: 1000px) {
  .style_footer__D5CRU {
    justify-content: space-between;
  }
  .style_footer__D5CRU ul {
    width: auto;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__x5A0v {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
  top: 4rem;
}
.style_nav__x5A0v .style_wrapper__N48Gh {
  display: flex;
  gap: 50px;
  margin-bottom: 80px;
}
.style_nav__x5A0v .style_container__xU1Ia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 900px) {
  .style_nav__x5A0v .style_wrapper__N48Gh {
    margin-bottom: 0px;
    justify-content: space-between;
  }
}
