:root {
  /* --container-color: #eae4d8; */
  --container-color: #000000;
  --accent-color: #ff4b26;
  --background-color: #f3eee5;
  --color-number: #999;
  --border-color: #eae4d8;
  --title-color: #242322;

  --font-family: 'Outfit', sans-serif;

  --body-font-weight: 400;
  /* Regular */
  --subtitle-font-weight: 100;
  /* Thin */
  --medium-font-weight: 500;
  /* Medium */
  --title-font-weight: 700;
  /* Bold */
  --heavy-font-weight: 900;
  /* Black */
  --semi-bold-font-weight: 600;
  /* SemiBold */

  --gfs: 14.4;


  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}




.hiddenn {
  display: none;
}




@font-face {
  font-family: 'Outfit';
  src: url('../../public/fonts/Outfit-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}



body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
}

h1,
.title {
  font-family: var(--font-family);
  font-weight: var(--title-font-weight);
  /* Use the defined variable for title font weight */
}

h2 {
  font-family: var(--font-family);
  font-weight: var(--title-font-weight);
  /* Use the defined variable for title font weight */
}

h3,
.medium {
  font-family: var(--font-family);
  font-weight: var(--medium-font-weight);
  /* Use the defined variable for medium font weight */
}

h4,
.heavy {
  font-family: var(--font-family);
  font-weight: var(--heavy-font-weight);
  /* Use the defined variable for heavy font weight */
}

h5,
.semi-bold {
  font-family: var(--font-family);
  font-weight: var(--semi-bold-font-weight);
  /* Use the defined variable for semi-bold font weight */
}

p,
span {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  /* Use the defined variable for body font weight */
}