:root {
  --container-color: #eae4d8;
  --accent-color: #ff4b26;
  --background-color: #000000;
  --color-number: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}




.hiddenn {
  display: none;
}

.noise::before {
  pointer-events: none;
  z-index: 99999999999;
  position: fixed
}

.noise::before {
  content: "";
  background-image: url("../../public/assets/noise.webp");
  height: 300%;
  left: -50%;
  opacity: .036;
  top: -100%;
  width: 300%;
  animation: grain 10s steps(7) infinite;

}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-3%, -5%);
  }

  20% {
    transform: translate(-4%, 4%);
  }

  30% {
    transform: translate(2%, -2%);
  }

  40% {
    transform: translate(-2%, 3%);
  }

  50% {
    transform: translate(-3%, -1%);
  }

  60% {
    transform: translate(3%, 0);
  }

  70% {
    transform: translate(0, 2%);
  }

  80% {
    transform: translate(1%, 3%);
  }

  90% {
    transform: translate(-2%, 2%);
  }
}


.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1850px) {
  .container {
    max-width: 1600px;
  }
}



@font-face {
  font-family: 'Outfit-Thin';
  src: url('../../public/fonts/Outfit-Thin.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Thin.woff') format('woff'),
    url('../../public/fonts/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-ExtraLight';
  src: url('../../public/fonts/Outfit-ExtraLight.woff2') format('woff2'),
    url('../../public/fonts/Outfit-ExtraLight.woff') format('woff'),
    url('../../public/fonts/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Light';
  src: url('../../public/fonts/Outfit-Light.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Light.woff') format('woff'),
    url('../../public/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Regular';
  src: url('../../public/fonts/Outfit-Regular.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Regular.woff') format('woff'),
    url('../../public/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Medium';
  src: url('../../public/fonts/Outfit-Medium.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Medium.woff') format('woff'),
    url('../../public/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../public/fonts/Outfit-Bold.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Bold.woff') format('woff'),
    url('../../public/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Black';
  src: url('../../public/fonts/Outfit-Black.woff2') format('woff2'),
    url('../../public/fonts/Outfit-Black.woff') format('woff'),
    url('../../public/fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}