.banner1,
.banner2,
.banner3,
.banner4 {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 25%;
    height: 100lvh;
    // background-color: #eae4d8;
    background-color: #fdefe0;
}

.banner1 {
    left: 0;
}

.banner2 {
    left: 25%;
}

.banner3 {
    left: 50%;
}

.banner4 {
    left: 75%;
}


.textAnimation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;

    div {
        display: flex;
        overflow: hidden;
        h2 {
            color: var(--accent-color);
            text-transform: lowercase;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }
}

.homePage {
    position: relative;
    z-index: 9;
    @media (max-width: 456px) {
        min-height: 100vh;
    }

}
