.body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    h3 {
        color: var(--container-color);
        text-decoration: none;
        text-transform: normal;
        width: 100%;
        border-bottom: 1px solid var(--title-color);
        font-weight: 400;
    }

    p {
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 3.4rem;
        font-weight: 400;
        line-height: 1;
        height: fit-content;
    }
}