.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    padding: 2rem;
    height: 6.5vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 999;

    @media (max-width: 454px) {
        padding: 1rem;
        position: fixed;
    }

    .nav__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            font-family: 'Outfit-Black';
            color: var(--container-color);
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);

            @media (max-width: 454px) {
                font-size: 1rem;
            }

        }

        .nav__corner {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 0.5rem;

            h2 {
                position: relative;
                left: -10rem;
                font-size: 1rem;
                font-weight: 600;
                font-family: 'Outfit-Regular';
                color: var(--container-color);
                text-transform: lowercase;

                @media (max-width: 456px) {
                    left: -6rem;
                    font-size: 0.8rem;
                }

                @media (max-width: 306px) {
                    display: none;
                }

            }
        }
    }
}