.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 1rem;
    height: 5vh;
    width: 100%;
    overflow: hidden;
    transition: var(--animation-primary);
    z-index: 999999999;
    user-select: none;
    mix-blend-mode: difference;

    @media (max-width: 900px) {
        background-color: var(--background-color);
        mix-blend-mode: normal;
        border-bottom: 1px solid var(--title-color);
        padding: 0.5rem;
    }

    span {
        position: relative;
        left: 0rem;
        font-size: clamp(16px, 1.52vw, 300px);
        color: var(--opposite-color);
        text-transform: capitalize;
        font-weight: 500;
        width: 20%;

        @media (max-width: 900px) {
            color: var(--title-color);
            letter-spacing: normal;
            text-transform: lowercase;
            width: 30%;
        }

    }


    .nav__corner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
        position: relative;
        right: 0;
        width: 100%;

        @media (max-width: 900px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            width: 100%;

            li {
                position: relative;
                text-transform: uppercase;

                button {
                    font-size: var(--small-font-size);
                    background-color: transparent;
                    width: 100%;
                    text-decoration: none;
                    color: var(--opposite-color);
                    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
        }
    }

}

.mobile {
    @media (min-width: 901px) {
        display: none;
    }

    .menuNav {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        color: var(--title-color);
    }

    button {
        font-size: 1rem;
        @media (min-width: 901px) {
            font-size: 1.3rem;
        }
    }
}