.titles {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
        border-bottom: 1px solid rgba(183, 171, 152, 0.25);
        cursor: default;
        position: relative;
        z-index: 2;

        .wrapper {
            display: flex;
            padding-left: 2.35%;
            width: 100%;
            justify-content: space-between;
            @media (max-width: 1256px) {
                padding-left: 1rem;
            }

            a {
                display: inline-block;
                color: var(--container-color);
                text-transform: uppercase;
                font-weight: 500;
                font-size: calc(80/var(--gfs)*1rem);
                line-height: 7.5vw;
                margin: 0px 0; 
                position: relative;
                z-index: 2;
                line-height: 1;

                @media (max-width: 1256px) {
                    font-size: calc(40/var(--gfs)*1rem);
                    margin: 1rem 0;
                }

            }
        }


    }

}