/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  /* --container-color: #eae4d8; */
  --container-color: #000000;
  --accent-color: #ff4b26;
  --background-color: #f3eee5;
  --color-number: #999;
  --border-color: #eae4d8;
  --title-color: #242322;

  --font-family: 'Outfit', sans-serif;

  --body-font-weight: 400;
  /* Regular */
  --subtitle-font-weight: 100;
  /* Thin */
  --medium-font-weight: 500;
  /* Medium */
  --title-font-weight: 700;
  /* Bold */
  --heavy-font-weight: 900;
  /* Black */
  --semi-bold-font-weight: 600;
  /* SemiBold */

  --gfs: 14.4;


  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}




.hiddenn {
  display: none;
}

.noise::before {
  pointer-events: none;
  z-index: 99999999999;
  position: fixed
}

.noise::before {
  content: "";
  background-image: url(/_next/static/media/noise.6012b9b9.webp);
  height: 300%;
  left: -50%;
  opacity: .036;
  top: -100%;
  width: 300%;
  animation: grain 10s steps(7) infinite;

}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-3%, -5%);
  }

  20% {
    transform: translate(-4%, 4%);
  }

  30% {
    transform: translate(2%, -2%);
  }

  40% {
    transform: translate(-2%, 3%);
  }

  50% {
    transform: translate(-3%, -1%);
  }

  60% {
    transform: translate(3%, 0);
  }

  70% {
    transform: translate(0, 2%);
  }

  80% {
    transform: translate(1%, 3%);
  }

  90% {
    transform: translate(-2%, 2%);
  }
}


@font-face {
  font-family: 'Outfit';
  src: url(/_next/static/media/Outfit-Variable.58540184.woff2) format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}



body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
}

h1,
.title {
  font-family: var(--font-family);
  font-weight: var(--title-font-weight);
  /* Use the defined variable for title font weight */
}

h2 {
  font-family: var(--font-family);
  font-weight: var(--title-font-weight);
  /* Use the defined variable for title font weight */
}

h3,
.medium {
  font-family: var(--font-family);
  font-weight: var(--medium-font-weight);
  /* Use the defined variable for medium font weight */
}

h4,
.heavy {
  font-family: var(--font-family);
  font-weight: var(--heavy-font-weight);
  /* Use the defined variable for heavy font weight */
}

h5,
.semi-bold {
  font-family: var(--font-family);
  font-weight: var(--semi-bold-font-weight);
  /* Use the defined variable for semi-bold font weight */
}

p,
span {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  /* Use the defined variable for body font weight */
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/footer/Footer.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: var(--background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 1005px) {
  .footer {
    padding: 1rem 1rem;
  }
}
@media (max-width: 1009px) {
  .footer {
    display: block;
    padding: 1rem;
  }
}
.footer .footer__top {
  position: relative;
}
@media (max-width: 1334px) {
  .footer .footer__top {
    display: none;
  }
}
.footer .footer__top h3 {
  font-size: 11.1vw;
  font-weight: 700;
  color: var(--container-color);
  letter-spacing: 1rem;
  text-transform: uppercase;
}
@media (max-width: 1265px) {
  .footer .footer__top h3 {
    font-size: 7vw;
  }
}
.footer .footer__top span {
  font-size: 3rem;
  position: absolute;
  top: 0rem;
  right: 1rem;
}
@media (max-width: 1265px) {
  .footer .footer__top span {
    display: none;
  }
}
.footer h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
@media (max-width: 1165px) {
  .footer h2 {
    text-align: left;
  }
}
@media (max-width: 450px) {
  .footer h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 300px) {
  .footer h2 {
    font-size: 1rem;
  }
}
.footer h2 span {
  color: var(--accent-color);
}
.footer a p {
  border: 1px solid var(--container-color);
  color: var(--container-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
}
.footer a p:hover {
  color: var(--container-color);
  background-color: var(--background-color);
}
.footer .footer__con {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
}
@media (max-width: 465px) {
  .footer .footer__con {
    grid-template-columns: 1fr;
  }
}
.footer .footer__con .footer__upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__upper {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 1rem;
  }
}
@media (max-width: 465px) {
  .footer .footer__con .footer__upper {
    padding-left: 0rem;
  }
}
.footer .footer__con .footer__upper a p {
  transition: all 0.45s cubic-bezier(0.16, 1, 0.3, 1);
}
.footer .footer__con .footer__upper a p:hover {
  transition: all 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--background-color);
  background-color: var(--container-color);
}
.footer .footer__con .footer__upper .nextPage a {
  font-size: 6vh;
  font-weight: 500;
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  margin-top: 3rem;
  position: relative;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__upper .nextPage a {
    text-align: left;
  }
}
.footer .footer__con .footer__upper .nextPage a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--container-color);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scaleX(0);
  transform-origin: left;
}
.footer .footer__con .footer__upper .nextPage a:hover::before {
  transform: scaleX(1);
}
.footer .footer__con .footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1365px) {
  .footer .footer__con .footer__container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 965px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 765px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
}
@media (max-width: 465px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
.footer .footer__con .footer__container h2 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--container-color);
}
.footer .footer__con .footer__container ul {
  display: flex;
  flex-direction: column;
}
.footer .footer__con .footer__container ul li {
  list-style: none;
}
.footer .footer__con .footer__container ul li a {
  font-size: 1rem;
  font-weight: 200;
  color: var(--container-color);
}
.footer .footer__con .footer__container address {
  font-style: normal;
}
.footer .footer__con .footer__container address p {
  font-size: 1rem;
  font-weight: 200;
  color: var(--container-color);
}
.footer .footer__con .footer__container .footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__container .footer__address {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}
@media (max-width: 455px) {
  .footer .footer__con .footer__container .footer__address {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

.footer__footer {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--container-color);
}
@media (max-width: 965px) {
  .footer__footer {
    padding: 0rem;
    margin-top: 1rem;
    flex-direction: column-reverse;
  }
}
@media (max-width: 456px) {
  .footer__footer {
    padding-bottom: 1rem;
  }
}
.footer__footer .footer__footer_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
@media (max-width: 456px) {
  .footer__footer .footer__footer_container {
    padding-left: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
  }
}
.footer__footer .footer__footer_container .footer__rest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
@media (max-width: 1245px) {
  .footer__footer .footer__footer_container .footer__rest {
    display: none;
  }
}
.footer__footer .footer__footer_container .footer__rest ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer__footer .footer__footer_container .footer__rest ul li {
  list-style: none;
  position: relative;
  width: 100%;
}
.footer__footer .footer__footer_container .footer__rest ul li a {
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;
  width: 100%;
  color: var(--container-color);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  text-decoration: none;
  display: flex;
}
.footer__footer .footer__footer_container .footer__rest ul li a:hover > span {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer__footer .footer__footer_container .footer__rest ul li span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--background-color);
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
          clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__footer .footer__footer_container .footer__rest a {
  border: none;
  color: var(--container-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .footer__footer .footer__footer_container .footer__rest a {
    font-weight: 300;
    font-size: 0.75rem;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1245px) {
  .footer__logo {
    width: 100%;
    height: 100%;
  }
}
.footer__logo h2 {
  font-size: 1rem;
  margin-top: 0;
  font-weight: 400;
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}
@media (max-width: 1250px) {
  .footer__logo h2 {
    font-weight: 300;
    font-size: 0.85rem;
    padding: 1rem;
  }
}
@media (max-width: 450px) {
  .footer__logo h2 {
    font-weight: 300;
    font-size: 0.85rem;
    padding-top: 1rem;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__NrPgx {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  height: 6.5vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  mix-blend-mode: difference;
}
@media (max-width: 1154px) {
  .style_nav__NrPgx {
    padding: 1rem;
    padding-top: 1rem;
  }
}
.style_nav__NrPgx .style_nav__logo__pwzZC {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.style_nav__NrPgx .style_nav__logo__pwzZC h1 {
  position: relative;
  left: 0rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
}
@media (max-width: 1356px) {
  .style_nav__NrPgx .style_nav__logo__pwzZC h1 {
    left: 0rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 416px) {
  .style_nav__NrPgx .style_nav__logo__pwzZC h1 {
    font-size: 1.3rem;
  }
}
.style_nav__NrPgx .style_nav__corner__cSgLp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  position: relative;
  right: 0;
  width: 100%;
}
.style_nav__NrPgx .style_nav__corner__cSgLp span {
  position: relative;
  right: 0rem;
  font-size: 1rem;
  color: #fff;
  text-transform: lowercase;
}
@media (max-width: 456px) {
  .style_nav__NrPgx .style_nav__corner__cSgLp span {
    left: 0rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 306px) {
  .style_nav__NrPgx .style_nav__corner__cSgLp span {
    display: none;
  }
}
.style_nav__NrPgx .style_nav__corner__cSgLp .style_menuNav__7T8Lo {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
@media (min-width: 1103px) {
  .style_nav__NrPgx .style_nav__corner__cSgLp .style_menuNav__7T8Lo {
    display: none;
  }
}
.style_nav__NrPgx .style_nav__corner__cSgLp .style_navLinks__LfUr4 {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .style_nav__NrPgx .style_nav__corner__cSgLp .style_navLinks__LfUr4 {
    display: none;
  }
}
.style_nav__NrPgx .style_nav__corner__cSgLp .style_navLinks__LfUr4 ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}
.style_nav__NrPgx .style_nav__corner__cSgLp .style_navLinks__LfUr4 ul li {
  position: relative;
  font-size: 1vw;
  text-transform: uppercase;
}
.style_nav__NrPgx .style_nav__corner__cSgLp .style_navLinks__LfUr4 ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/nav/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__x5A0v {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
  top: 0rem;
  left: 0;
}
.style_nav__x5A0v .style_hamburger__V1uAm {
  display: flex;
  justify-content: flex-end;
  color: var(--container-color);
  font-size: 3rem;
  z-index: 9999;
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-family: "Outfit-Bold";
  cursor: pointer;
}
@media (max-width: 468px) {
  .style_nav__x5A0v .style_hamburger__V1uAm {
    right: 2rem;
  }
}
.style_nav__x5A0v .style_wrapper__N48Gh {
  display: flex;
  gap: 50px;
  margin-bottom: 5rem;
}
@media (max-width: 668px) {
  .style_nav__x5A0v .style_wrapper__N48Gh {
    margin-bottom: 111rem;
    gap: 1rem;
  }
}
.style_nav__x5A0v .style_container__xU1Ia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/nav/Body/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_body__A0_vQ {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 2rem;
  margin-top: 40px;
  padding: 2rem;
}
@media (max-width: 456px) {
  .style_body__A0_vQ {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}
.style_body__A0_vQ a {
  color: var(--container-color);
  text-decoration: none;
  text-transform: uppercase;
}
.style_body__A0_vQ p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  padding-right: 30px;
  padding-top: 10px;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .style_body__A0_vQ {
    max-width: 1200px;
    margin-top: 80px;
  }
  .style_body__A0_vQ p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/nav/Footer/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__D5CRU {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 1rem;
}
@media (max-width: 456px) {
  .style_footer__D5CRU {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.style_footer__D5CRU ul {
  width: 50%;
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  font-family: "Outfit-Regular", sans-serif;
}
@media (max-width: 456px) {
  .style_footer__D5CRU ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.9rem;
  }
}
.style_footer__D5CRU li {
  color: var(--container-color);
}
@media (max-width: 456px) {
  .style_footer__D5CRU li {
    text-align: left;
    padding-top: 0.4rem;
  }
}
.style_footer__D5CRU li span {
  color: var(--container-color);
  font-family: "Outfit-Thin", sans-serif;
}
.style_footer__D5CRU li a {
  color: var(--container-color);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.style_footer__D5CRU li a:hover {
  color: var(--accent-color);
}

@media only screen and (min-width: 1000px) {
  .style_footer__D5CRU {
    justify-content: space-between;
  }
  .style_footer__D5CRU ul {
    width: auto;
  }
}
