/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --container-color: #eae4d8;
  --accent-color: #ff4b26;
  --background-color: #000000;
  --color-number: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}




.hiddenn {
  display: none;
}

.noise::before {
  pointer-events: none;
  z-index: 99999999999;
  position: fixed
}

.noise::before {
  content: "";
  background-image: url(/_next/static/media/noise.6012b9b9.webp);
  height: 300%;
  left: -50%;
  opacity: .036;
  top: -100%;
  width: 300%;
  animation: grain 10s steps(7) infinite;

}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-3%, -5%);
  }

  20% {
    transform: translate(-4%, 4%);
  }

  30% {
    transform: translate(2%, -2%);
  }

  40% {
    transform: translate(-2%, 3%);
  }

  50% {
    transform: translate(-3%, -1%);
  }

  60% {
    transform: translate(3%, 0);
  }

  70% {
    transform: translate(0, 2%);
  }

  80% {
    transform: translate(1%, 3%);
  }

  90% {
    transform: translate(-2%, 2%);
  }
}


.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1850px) {
  .container {
    max-width: 1600px;
  }
}



@font-face {
  font-family: 'Outfit-Thin';
  src: url(/_next/static/media/Outfit-Thin.573728a8.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Thin.76e023c6.woff) format('woff'),
    url(/_next/static/media/Outfit-Thin.bd0ecd03.ttf) format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-ExtraLight';
  src: url(/_next/static/media/Outfit-ExtraLight.ddbe4887.woff2) format('woff2'),
    url(/_next/static/media/Outfit-ExtraLight.5152a637.woff) format('woff'),
    url(/_next/static/media/Outfit-ExtraLight.babfeed6.ttf) format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Light';
  src: url(/_next/static/media/Outfit-Light.cc9454f0.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Light.cb55ade6.woff) format('woff'),
    url(/_next/static/media/Outfit-Light.e112ad89.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Regular';
  src: url(/_next/static/media/Outfit-Regular.1ffcf6a8.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Regular.4a2c23d6.woff) format('woff'),
    url(/_next/static/media/Outfit-Regular.825251bc.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Outfit-Medium';
  src: url(/_next/static/media/Outfit-Medium.5e978ef7.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Medium.a27aea44.woff) format('woff'),
    url(/_next/static/media/Outfit-Medium.c027815a.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url(/_next/static/media/Outfit-Bold.b6075c83.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Bold.58be3488.woff) format('woff'),
    url(/_next/static/media/Outfit-Bold.c3664680.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Black';
  src: url(/_next/static/media/Outfit-Black.aca2f274.woff2) format('woff2'),
    url(/_next/static/media/Outfit-Black.23b29024.woff) format('woff'),
    url(/_next/static/media/Outfit-Black.52cc8a6c.ttf) format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/components/footer/Footer.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: var(--background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 1005px) {
  .footer {
    padding: 1rem 1rem;
  }
}
@media (max-width: 1009px) {
  .footer {
    display: block;
    padding: 1rem;
  }
}
.footer .footer__top {
  position: relative;
}
@media (max-width: 1334px) {
  .footer .footer__top {
    display: none;
  }
}
.footer .footer__top h3 {
  font-size: 11.1vw;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  letter-spacing: 1rem;
  text-transform: uppercase;
}
@media (max-width: 1265px) {
  .footer .footer__top h3 {
    font-size: 7vw;
  }
}
.footer .footer__top span {
  font-size: 3rem;
  position: absolute;
  top: 0rem;
  right: 1rem;
}
@media (max-width: 1265px) {
  .footer .footer__top span {
    display: none;
  }
}
.footer h2 {
  font-size: 1.5rem;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
@media (max-width: 1165px) {
  .footer h2 {
    text-align: left;
  }
}
@media (max-width: 450px) {
  .footer h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 300px) {
  .footer h2 {
    font-size: 1rem;
  }
}
.footer h2 span {
  color: var(--accent-color);
}
.footer a p {
  border: 1px solid var(--container-color);
  color: var(--container-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: "Outfit-Medium";
  text-transform: uppercase;
  padding: 1rem;
}
.footer a p:hover {
  color: var(--container-color);
  background-color: var(--background-color);
}
.footer .footer__con {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
}
@media (max-width: 465px) {
  .footer .footer__con {
    grid-template-columns: 1fr;
  }
}
.footer .footer__con .footer__upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__upper {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 1rem;
  }
}
@media (max-width: 465px) {
  .footer .footer__con .footer__upper {
    padding-left: 0rem;
  }
}
.footer .footer__con .footer__upper a p {
  transition: all 0.45s cubic-bezier(0.16, 1, 0.3, 1);
}
.footer .footer__con .footer__upper a p:hover {
  transition: all 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--background-color);
  background-color: var(--container-color);
}
.footer .footer__con .footer__upper .nextPage a {
  font-size: 6vh;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  margin-top: 3rem;
  position: relative;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__upper .nextPage a {
    text-align: left;
  }
}
.footer .footer__con .footer__upper .nextPage a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--container-color);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scaleX(0);
  transform-origin: left;
}
.footer .footer__con .footer__upper .nextPage a:hover::before {
  transform: scaleX(1);
}
.footer .footer__con .footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1365px) {
  .footer .footer__con .footer__container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 965px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 765px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
}
@media (max-width: 465px) {
  .footer .footer__con .footer__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
.footer .footer__con .footer__container h2 {
  font-size: 1rem;
  font-family: "Outfit-Medium";
  color: var(--container-color);
}
.footer .footer__con .footer__container ul {
  display: flex;
  flex-direction: column;
}
.footer .footer__con .footer__container ul li {
  list-style: none;
}
.footer .footer__con .footer__container ul li a {
  font-size: 1rem;
  font-family: "Outfit-Thin";
  color: var(--container-color);
}
.footer .footer__con .footer__container address {
  font-style: normal;
}
.footer .footer__con .footer__container address p {
  font-size: 1rem;
  font-family: "Outfit-Thin";
  color: var(--container-color);
}
.footer .footer__con .footer__container .footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
}
@media (max-width: 965px) {
  .footer .footer__con .footer__container .footer__address {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}
@media (max-width: 455px) {
  .footer .footer__con .footer__container .footer__address {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

.footer__footer {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--container-color);
}
@media (max-width: 965px) {
  .footer__footer {
    padding: 0rem;
    margin-top: 1rem;
    flex-direction: column-reverse;
  }
}
@media (max-width: 456px) {
  .footer__footer {
    padding-bottom: 1rem;
  }
}
.footer__footer .footer__footer_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
@media (max-width: 456px) {
  .footer__footer .footer__footer_container {
    padding-left: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
  }
}
.footer__footer .footer__footer_container .footer__rest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
@media (max-width: 1245px) {
  .footer__footer .footer__footer_container .footer__rest {
    display: none;
  }
}
.footer__footer .footer__footer_container .footer__rest ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer__footer .footer__footer_container .footer__rest ul li {
  list-style: none;
  position: relative;
  width: 100%;
}
.footer__footer .footer__footer_container .footer__rest ul li a {
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;
  width: 100%;
  color: var(--container-color);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  text-decoration: none;
  display: flex;
}
.footer__footer .footer__footer_container .footer__rest ul li a:hover > span {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer__footer .footer__footer_container .footer__rest ul li span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--background-color);
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
          clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__footer .footer__footer_container .footer__rest a {
  border: none;
  color: var(--container-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: "Outfit-Medium";
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .footer__footer .footer__footer_container .footer__rest a {
    font-family: "Outfit-Regular";
    font-size: 0.75rem;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1245px) {
  .footer__logo {
    width: 100%;
    height: 100%;
  }
}
.footer__logo h2 {
  font-size: 1rem;
  margin-top: 0;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}
@media (max-width: 1250px) {
  .footer__logo h2 {
    font-family: "Outfit-Regular";
    font-size: 0.85rem;
    padding: 1rem;
  }
}
@media (max-width: 450px) {
  .footer__logo h2 {
    font-family: "Outfit-Regular";
    font-size: 0.85rem;
    padding-top: 1rem;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/components/navbar/Navbar.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  height: 6.5vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9999;
  border-bottom: 1px solid var(--container-color);
  background-color: var(--background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1154px) {
  .nav {
    padding: 1rem;
    padding-top: 1rem;
  }
}
.nav .nav__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.nav .nav__logo h1 {
  position: relative;
  left: 0rem;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
}
@media (max-width: 1356px) {
  .nav .nav__logo h1 {
    left: 0rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 416px) {
  .nav .nav__logo h1 {
    font-size: 1.3rem;
  }
}
.nav .nav__corner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  position: relative;
  right: 0;
  width: 100%;
}
.nav .nav__corner h2 {
  position: relative;
  right: 0rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  text-transform: lowercase;
}
@media (max-width: 456px) {
  .nav .nav__corner h2 {
    left: 0rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 306px) {
  .nav .nav__corner h2 {
    display: none;
  }
}
.nav .nav__corner span {
  position: relative;
  right: 0rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Outfit-Bold";
  color: var(--container-color);
  text-transform: lowercase;
}
@media (max-width: 456px) {
  .nav .nav__corner span {
    left: 0rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 306px) {
  .nav .nav__corner span {
    display: none;
  }
}
.nav .nav__corner .menuNav {
  cursor: pointer;
  background-color: transparent;
  color: var(--container-color);
  font-family: "Outfit-Medium";
}
@media (min-width: 1103px) {
  .nav .nav__corner .menuNav {
    display: none;
  }
}
.nav .nav__corner .navLinks {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .nav .nav__corner .navLinks {
    display: none;
  }
}
.nav .nav__corner .navLinks ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}
.nav .nav__corner .navLinks ul li {
  position: relative;
  font-size: 1vw;
  font-weight: 600;
  font-family: "Outfit-Medium";
  color: var(--container-color);
  text-transform: uppercase;
}
.nav .nav__corner .navLinks ul li a {
  width: 100%;
  text-decoration: none;
  color: var(--container-color);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Body/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_body__A0_vQ {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 2rem;
  margin-top: 40px;
  padding: 2rem;
}
@media (max-width: 456px) {
  .style_body__A0_vQ {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}
.style_body__A0_vQ a {
  color: var(--background-color);
  text-decoration: none;
  text-transform: uppercase;
}
.style_body__A0_vQ p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  padding-right: 30px;
  padding-top: 10px;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .style_body__A0_vQ {
    max-width: 1200px;
    margin-top: 80px;
  }
  .style_body__A0_vQ p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Footer/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__D5CRU {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 1rem;
}
@media (max-width: 456px) {
  .style_footer__D5CRU {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.style_footer__D5CRU ul {
  width: 50%;
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  font-family: "Outfit-Regular", sans-serif;
}
@media (max-width: 456px) {
  .style_footer__D5CRU ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.9rem;
  }
}
.style_footer__D5CRU li {
  color: var(--background-color);
}
@media (max-width: 456px) {
  .style_footer__D5CRU li {
    text-align: left;
    padding-top: 0.4rem;
  }
}
.style_footer__D5CRU li span {
  color: var(--background-color);
  font-family: "Outfit-Thin", sans-serif;
}
.style_footer__D5CRU li a {
  color: var(--background-color);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.style_footer__D5CRU li a:hover {
  color: var(--accent-color);
}

@media only screen and (min-width: 1000px) {
  .style_footer__D5CRU {
    justify-content: space-between;
  }
  .style_footer__D5CRU ul {
    width: auto;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__x5A0v {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
  top: 0rem;
  left: 0;
}
.style_nav__x5A0v .style_hamburger__V1uAm {
  display: flex;
  justify-content: flex-end;
  color: var(--background-color);
  font-size: 3rem;
  z-index: 9999;
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-family: "Outfit-Bold";
  cursor: pointer;
}
@media (max-width: 468px) {
  .style_nav__x5A0v .style_hamburger__V1uAm {
    right: 2rem;
  }
}
.style_nav__x5A0v .style_wrapper__N48Gh {
  display: flex;
  gap: 50px;
  margin-bottom: 5rem;
}
@media (max-width: 668px) {
  .style_nav__x5A0v .style_wrapper__N48Gh {
    margin-bottom: 111rem;
    gap: 1rem;
  }
}
.style_nav__x5A0v .style_container__xU1Ia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
