.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .projectsMain {
        margin-bottom: 5vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 2rem;

        img {
            height: 80vh;
            width: 100%;
            object-fit: cover;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--title-color);
    border-top: 1px solid var(--title-color);
    background-color: var(--background-color);

    a {
        color: var(--title-color);
        text-transform: uppercase;
        font-weight: 500;
        font-size: calc(80 / var(--gfs) * 1rem);
        line-height: 7.5vw;
        margin: 0;
        position: relative;
        z-index: 2;
        line-height: 1;
        @media (max-width: 1256px) {
            font-size: calc(35 / var(--gfs) * 1rem);
        }
    }
}

.upper {
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center;
    padding: 0 0.5rem;
    position: relative;

    @media (max-width: 555px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
    }

    p {
        margin: 0;
        position: absolute;
        left: 0.5rem; // Adjust as necessary

        @media (max-width: 555px) {
            position: relative;
            left: 0;
        }
    }

    ul {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        margin: 0;
        position: absolute;
        right: 0.5rem; // Adjust as necessary
        @media (max-width: 555px) {
            position: relative;
            right: 0;
        }

    }
}

.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 4vh;
    width: 100%;
}
